<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template/template">
<body>
	<div layout:fragment="content">
		<div>
			<div class="col-md-2"></div>
			<div class="col-md-10">
				<th:block layout:fragment="headerPanel">
				
				</th:block>
			</div>
			<div class="col-md-12">
				<hr />
			</div>
			<div class="col-md-2">
				<th:block layout:fragment="leftMenu">
				
				</th:block>
			</div>
			<div class="col-md-10">
				<th:block layout:fragment="data">
				
				</th:block>
			</div>
		</div>
	</div>
</body>
</html>