<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<nav th:fragment="header" class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
		    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        	<span class="sr-only">Toggle navigation</span>
		        	<span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
				<a class="navbar-brand" th:href="@{/}" th:text="#{messages.home}">Home</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" th:text="#{messages.menu.transaction}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transaction<span class="caret"></span></a>
						<ul class="dropdown-menu">
				            <li><a th:href="@{/transaction/list}" th:text="#{messages.menu.transactionList}">Transaction list</a></li>
				            <li><a th:href="@{/transaction/create}" th:text="#{messages.menu.transactionCreate}">Create transaction</a></li>
				    	</ul>
					</li>
					<li class="dropdown">
						<a href="#" th:text="#{messages.menu.customerAdmin}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customer admin<span class="caret"></span></a>
						<ul class="dropdown-menu">
				            <li><a th:href="@{/counter-party/create}" th:text="#{messages.menu.counterPartyCreate}">Create counter party</a></li>
				            <li><a th:href="@{/transaction-type/create}" th:text="#{messages.menu.tranasctionTypeCreate}">Create tranasction type</a></li>
				    	</ul>
					</li>
				</ul>
				<ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
					<li><a th:href="@{/logout}" th:text="#{messages.logout}">Logout</a></li>
				</ul>
				<form th:action="@{/login}" method="post"
					sec:authorize="!isAuthenticated()" class="navbar-form navbar-right" role="search">
					<div class="form-group">
			        	<input type="text" id="username" name="username" class="form-control" th:placeholder="#{messages.customerName}"></input>
			        </div>
			        <div class="form-group">
			        	<input type="password" id="password" name="password" class="form-control" th:placeholder="#{messages.password}"></input>
			        </div>
			        <button type="submit" class="btn btn-default" th:text="#{messages.login}">Login</button>
				</form>
				<p sec:authorize="isAuthenticated()" class="navbar-text navbar-right" th:text="#{messages.welcome(${loggedCustomer})}">You are logged as</p>
			</div>
		</div>
	</nav>
</body>
</html>