<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<div th:fragment="header">
		<h1 th:text="#{messages.welcome(${loggedCustomer})}">Welcome to Expense Manager, user</h1>
		<div>
			<div sec:authorize="isAuthenticated()">
				<a th:href="@{/logout}" th:text="#{messages.logout}">Logout</a>
			</div>
			<div sec:authorize="!isAuthenticated()">
				<form th:action="@{/login}" method="post">
			      <label for="username" th:text="#{messages.customerName}">Customer name</label>:
			      <input type="text" id="username" name="username" /> <br />
			      <label for="password" th:text="#{messages.password}">Password</label>:
			      <input type="password" id="password" name="password" /> <br />
			      <input type="submit" th:value="#{messages.login}" />
			    </form>
			</div>
		</div>
		<ul>
			<li><a th:href="@{/customer}">Customer Page</a></li>
			<li><a th:href="@{/admin}">Administration Page</a></li>
			<li><a th:href="@{/registration}">Registration</a></li>
			<li><a th:href="@{/transaction/create}">Create transaction</a></li>
			<li><a th:href="@{/transaction/list}">List transaction</a></li>
			<li><a th:href="@{/transaction-type/create}">Create transaction type</a></li>
			<li><a th:href="@{/counter-party/create}">Create counter party</a></li>
		</ul>
	</div>
</body>
</html>