<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<nav th:fragment="header" class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
		    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        	<span class="sr-only">Toggle navigation</span>
		        	<span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
				<a class="navbar-brand" th:href="@{/}">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li th:if="${item.visibled}"
						th:each="item : ${menuBean.mainMenu.items}" 
						th:id="${item.id}"
						th:classappend="${item.header} ? 'dropdown' : ''">
						<a th:if="${not item.header}" th:text="#{${item.key}}" th:href="@{${item.action}}">Link</a>
						<a th:if="${item.header}" th:href="@{#}" th:text="#{${item.key}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu item<span class="caret"></span></a>
						<ul th:if="${item.header}" class="dropdown-menu">
							<th:block th:if="${item.visibled}" th:each="subItem : ${item.items}">
								<p th:if="${subItem.header}" class="navbar-text" th:text="#{${subItem.key}}"></p>
							 	<li th:if="${not subItem.header}">
					            	<a th:href="@{${subItem.action}}" th:text="#{${subItem.key}}">Sub item</a>
					            </li>
							</th:block>
				    	</ul>
					</li>
				</ul>
				
				<ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
					<li><a th:href="@{/logout}" th:text="#{messages.logout}">Logout</a></li>
				</ul>
				<form th:action="@{/login}" method="post"
					sec:authorize="!isAuthenticated()" class="navbar-form navbar-right" role="search">
					<div class="form-group">
			        	<input type="text" id="username" name="username" class="form-control" th:placeholder="#{messages.customerName}"></input>
			        </div>
			        <div class="form-group">
			        	<input type="password" id="password" name="password" class="form-control" th:placeholder="#{messages.password}"></input>
			        </div>
			        <button type="submit" class="btn btn-default" th:text="#{messages.login}">Login</button>
				</form>
				<p sec:authorize="isAuthenticated()" class="navbar-text navbar-right" th:text="#{messages.welcome(${loggedCustomer})}">You are logged as</p>
			</div>
		</div>
	</nav>
</body>
</html>