<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template/base-template">
<body>
	<nav layout:fragment="header" th:replace="template/header :: nav">Header</nav>
	<div layout:fragment="content">
		
	</div>
	<footer layout:fragment="footer" th:replace="template/footer :: footer">&copy; 2015 The Expense Manager</footer>
	<script th:src="@{/resources/js/jquery.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>